@page
@model PozyczkoPrzypominajkaV2.Pages.Loans.CreateModel
@inject Services.IEnvironment Environment

@{
	ViewData["Title"] = "Nowa pożyczka";
}

<h1 class="my-lg-5">Nowa pożyczka</h1>

<h4>Udzielam pożyczki</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="LoanVM.GiverList" class="control-label"></label>
				<select asp-items="@Model.LoanVM.GiverList" asp-for="LoanEM.GiverId" class="form-control" disabled>
				</select>
				<span asp-validation-for="LoanEM.GiverId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.ReceiverList" class="control-label"></label>
				<select asp-items="@Model.LoanVM.ReceiverList" asp-for="LoanEM.ReceiverId" class="form-control">
					<option value="">Wybierz...</option>
				</select>
				<span asp-validation-for="LoanEM.ReceiverId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.DisbursementDate" class="control-label"></label>
				<input asp-for="LoanEM.DisbursementDate" class="form-control" value="@Environment.Now()"/>
				<span asp-validation-for="LoanEM.DisbursementDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Amount" class="control-label"></label>
				<input asp-for="LoanEM.Amount" class="form-control" />
				<span asp-validation-for="LoanEM.Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.RepaymentDate" class="control-label"></label>
				<input asp-for="LoanEM.RepaymentDate" class="form-control" value="@(Environment.Now() + TimeSpan.FromDays(7))"/>
				<span asp-validation-for="LoanEM.RepaymentDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.RepaymentAmount" class="control-label"></label>
				<input asp-for="LoanEM.RepaymentAmount" class="form-control" />
				<span asp-validation-for="LoanEM.RepaymentAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Interest" class="control-label"></label>
				@* For display only, interest is calculated basing on loan data*@
				<input class="form-control" readonly value="-" />
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
