@page
@model PozyczkoPrzypominajkaV2.Pages.Loans.CreateModel

@{
	ViewData["Title"] = "Nowa pożyczka";
}

<h1 class="my-lg-5">Nowa pożyczka</h1>

<h4>Udzielam pożyczki</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="LoanVM.GiverName" class="control-label"></label>
				<input value="@Model.LoanVM.GiverName" class="form-control" readonly />
				<input type="hidden" asp-for="LoanIM.GiverID" value="@Model.LoanVM.GiverId" />
				<span asp-validation-for="LoanIM.GiverID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Receivers" class="control-label"></label>
				<select asp-for="LoanIM.ReceiverID" asp-items="@Model.LoanVM.Receivers" class="form-control">
					<option value="">Wybierz...</option>
				</select>
				<span asp-validation-for="LoanIM.ReceiverID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Date" class="control-label"></label>
				<input asp-for="LoanIM.DisbursementDate" class="form-control" />
				<span asp-validation-for="LoanIM.DisbursementDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Amount" class="control-label"></label>
				<input asp-for="LoanIM.Amount" class="form-control" />
				<span asp-validation-for="LoanIM.Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.RepaymentDate" class="control-label"></label>
				<input asp-for="LoanIM.RepaymentDate" class="form-control" />
				<span asp-validation-for="LoanIM.RepaymentDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.RepaymentAmount" class="control-label"></label>
				<input asp-for="LoanIM.RepaymentAmount" class="form-control" />
				<span asp-validation-for="LoanIM.RepaymentAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LoanVM.Interest" class="control-label"></label>
				<input asp-for="LoanVM.Interest" class="form-control" readonly />
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
