@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger my-lg-5">Ups...</h1>
<h4>Coś poszło nie tak, kiedy pracowaliśmy nad wyświetleniem Ci strony.</h4>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://giphy.com/embed/5dWWa4tYjpBSM" class="giphy-embed embed-responsive-item"></iframe>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}